<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url(/static/background.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f1f1f1;
            margin: 0;
            height: 100vh;
            display: flex; /* Use flexbox for centering */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
        }

        main {
            overflow: auto;
            background-color: #fff;
            width: 100%;
            max-width: 500px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .btn-primary, .btn-secondary {
            width: 100%;
            margin-top: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("form.retract").submit(function(e) {
                e.preventDefault();
                const platformSelect = $("#platform-select").val();
                const collectType = $("#scrape-type").val();

                if (platformSelect === "instagram" && collectType === "") {
                    alert("Please choose a collect type");
                    return;
                }

                const confirmSubmit = confirm('Are you sure you want to create this task?');
                if (confirmSubmit) {
                    const data = $(this).serialize();
                    $.post("/retract", data, function(result) {
                        if (result.result === "created") {
                            alert("Task created");
                            window.location.reload();
                        } else {
                            alert(result.message || "An error occurred");
                        }
                    });
                }
            });
        });

        function limitInput(element, maxLength) {
            const value = parseInt(element.value);
            const credits = parseInt("<%= credits %>");

            if (element.value.length > maxLength) {
                element.value = element.value.slice(0, maxLength);
            }

            if (value > credits) {
                alert("Not enough credits");
            } else if (value < 1000) {
                alert("Min 1000 emails required");
            }
        }
    </script>
</head>
<body>
    <main>
        <h1>Welcome, <%= username %></h1>
        <p>You have <%= credits %> credits.</p>
        <form class="retract" action="/retract" method="POST">
            <div class="mb-3">
                <input type="text" id="task-name" name="task-name" class="form-control" autocomplete="off" maxlength="40" placeholder="Task name" required>
            </div>
            <div class="mb-3">
                <input type="text" id="scrape-info" name="scrape-info" class="form-control" autocomplete="off" maxlength="40" placeholder="URL" required>
            </div>
            <div class="mb-3">
                <input type="number" id="max-emails" name="max-emails" class="form-control" min="1000" max="1016" placeholder="How many data to collect" onblur="limitInput(this, 8)" required>
            </div>
            <div class="mb-3">
                <select id="scrape-type" name="scrape-type" class="form-select" required>
                    <option value="" selected>Collect type</option>
                    <option value="HT">HT (Hashtag)</option>
                    <option value="FL">FL (Followers)</option>
                    <option value="FO">FO (Followings)</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Create Task</button>
        </form>
        <form class="task-list mt-3" action="/home/tasks" method="POST">
            <input type="hidden" name="username" value="<%= username %>">
            <button type="submit" class="btn btn-secondary">Tasks List</button>
        </form>
        <form class="logout mt-3" action="/logout" method="POST">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </main>
</body>
</html>
