body {
    background-image: url(/static/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0;
    height: 100vh;
    background-clip: content-box;
}

h1, h2 {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

select:focus {
    outline: none;
}

.home {
    overflow: auto;
    background-color: #fff;
    width: 80vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    position: relative;
}

.settings {
    overflow: auto;
    background-color: #fff;
    width: 40vw;
    height: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    position: relative;
}

.campaign {
    overflow: auto;
    background-color: #fff;
    width: 40vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    position: relative;
}

input,
button, select {
    font-size: 0.8em;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"] {
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input::after {
    content: "";
    background-image: url(/static/user.svg);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

input:focus, textarea:focus {
    outline: none;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust this value to add space between icons */
    padding: 10px; /* Optional padding for the icons */
    background-color: transparent; /* Optional background color */
}

#menu i {
    font-size: 24px; /* Adjust the font size of the icons */
}

input[type="text"], textarea {
    font-size: 0.8em;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}